/*Home & Nav bar*/

body {
  font-family: 'Montserrat', sans-serif;
}

nav {
	background-color: white;
	padding: 30px;
}

 a{	
	color: #000;
	font-size: 1.2em;
	font-weight: bold;
	padding: 8px;
}

 a:hover{
	color: #F05F44;
	text-decoration: none;
}

 .nav-link, a:focus{
	color: #F05F44;
	text-decoration: none;
}

.custom-toggler.navbar-toggler {
    color: #F05F44;
    margin-top: 5px;
    text-decoration: none;
    border: none;
}

.custom-toggler.navbar-toggler:focus, .custom-toggler .navbar-toggler:hover {
    text-decoration: none;
    border: none;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(217,83,79, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#Services {
	background: #f4f4f4;

}

header.mast {
  background-image: url("header.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  height: 100vh;
}

header.mast h1 {
  font-size: 2.5em; 
  text-align: right;
  color: #fff;
}

.path {
	color: #F05F44;
}

.btn {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-light:hover {
  background-color: #F05F44;
  border-color: #F05F44;
  cursor: pointer;
}

/*my-journey*/
table, th, td {
  border: 1px solid black;
  padding: 5px;
}

th {
	background-color: #ccc;
}